/**
 * Custom variables like colors, etc.
 * 
 * @author Larissa Schneider
 */

/* Color scheme */
$abbey: #464b4f;
$outerSpace: #343a40;
$shark: #212529;
$shakespear: #3e92cc;
$biscay: #1b4664;
$moccaccino: #72151A;
$merlot: #8d191f;
$mexicanRed: #aa2738;
$lightningYellow: #ffc21a;

/* Breakpoints */
$medium: 768px;

/* Navigation */
$navigation-bg: $outerSpace;
$navigation-link-color: white;
$navigation-link-hover: white;
$navigation-link-active: white;
$navigation-link-bg-hover: $abbey;
$navigation-accent: $shakespear;

/* Links */
$link-color: $merlot;
$link-hover: $mexicanRed;
$link-active: $shakespear;

/* Headline */
$headline-accent: $shakespear;

/* Code */
$code-bg: $shark;
$code-directive: $lightningYellow;
$code-variable: $shakespear;
$code-comment: #a1a8ad;
$code-example: #1c5d89;

/* Cookie-Consent */
$overlay-bg: rgba(0, 0, 0, 0.5);
$consent-bg: white;
$conset-accent: $shakespear;

/* Input */
$input-checkbox: $merlot;

/* Button */
$button-active: $moccaccino;

/* Scroll Button */
$scrollbutton-bg: $merlot;
$scrollbutton-hover: $mexicanRed;
