/**
 * Custom variables like colors, etc.
 * 
 * @author Larissa Schneider
 */

/* Color scheme */
$abbey: #464b4f;
$shark: #212529;
$congoBrown: #563143;
$shakespear: #3e92cc;
$elm: #22857b;

/* Breakpoints */
$medium: 768px;

/* Navigation */
$navigation-bg: $shark;
$navigation-link-color: white;
$navigation-link-hover: white;
$navigation-link-active: white;
$navigation-link-bg-hover: $abbey;
$navigation-accent: $shakespear;

/* Links */
$link-color: white;
$link-hover: white;
$link-active: white;
