html{
    font-family:'Roboto',;
}


/* Allegmeines */
h1{
    text-align: center;
    padding-top: 1.5rem;
}
h2{
    padding-top: 1.5rem;
}
.title::after{
    content: " ";
    display: block;
    width: 25%;
    height: 4px;
    background-color: blue;
    margin-left: 37%;
    margin-top: 1.5rem;
}
section{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
p{
    text-align: justify;
}
pre{
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #272822;
    color: #ddd;
}

/*Navigation*/
.navbar-dark .navbar-nav .nav-link{
    color:white;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color:blue;
}
.navbar-dark .navbar-nav .nav-link:active{
    color:blue;
}
.navbar-dark .navbar-nav .nav-link:focus{
    color:blue;
}
.dropdown-item:active{
    background-color:blue;
    color:white;
}
.dropdown-item:hover{
    background-color:blue;
    color:white;
}
.dropdown-item:focus{
    background-color:blue;
    color:white;
}
nav{
    min-height:80px;
}
.login{
    width:100px;
    color:white;
    border:1px solid blue;
}
.login:hover{
    color:blue;
}
.login:active{
    color:blue;
}
i{
    color:blue;
}
.dropdown-menu{
    border-top:3px solid blue;
    color:#fff;
    border-radius:0;
}
.dropdown-menu a{
    color:white;
}

/*MediaQueries*/
@media(min-width:576px){}

@media(min-width:768px){
    .test{
        background-color:#000;
        color:#fff;
        margin-top:0;
        border-radius:0;
        width:100%;
        border:none;
    }
    .nav>li.dropdown.open{
        position:static;
    }
    .nav>li.dropdown.open.dropdown-menu{
        display:table;
        width:100%;
        text-align:center;
        left:0;
        right:0;
    }
    .dropdown-menu>li{
        display:table-cell;
    }
    .megamenu{
        position:static;
    }
    .dropdown-menu{
        left:50%;
        right:auto;
        transform:translate(-50%,0);
        margin-top:18px;
    }
}

@media(min-width:992px){}

@media(min-width:1200px){}

@media(max-width:768px){
    .responsive-logo{
        margin-left:auto;
        margin-right:auto;
        padding-left:56px;
    }
    .dropdown-menu{
        text-align:center;
        border-left:1px solid #ffffff20;
        border-right:1px solid #ffffff20;
        border-bottom:1px solid #ffffff20;
        max-width:200px;
        margin-left:auto!important;
        margin-right:auto!important;
    }
}
