html{
    font-family:'Roboto';
}
h1{
    text-align: center;
    padding-top: 1.5rem;
}
h2{
    padding-top: 1.5rem;
}
.title::after{
    content: " ";
    display: block;
    width: 25%;
    height: 4px;
    background-color: blue;
    margin-left: 37%;
    margin-top: 1.5rem;
}
section{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
p{
    text-align: justify;
}
a{
    color: blue;
}

.carousel{
    margin-top: 1.5rem;
}

.btn-blue{
    background-color: blue;
    color:white;
}
.btn-blue:hover,.btn-blue:focus{
    background-color: #0000b7;
    color: white;
}

.btn-sec {
    border: 1px solid blue;
    background-color: white;
    color: blue;
}
.btn-sec:hover,.btn-sec:focus{
    background-color: #0000FF1a;
    color: blue;
}

